.logo {


    a {
        text-decoration: none;
        color: white;
        font-family: "Titan One", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}

.logo_img {
    padding-top: 5px;
    width: 35px;
    height: 35px;
}

.logo_container {
    display: flex;
    align-items: center;
    gap: 10px;
}

header {
    background: #24119E;
    background: linear-gradient(90deg, rgba(36, 17, 158, 1) 0%, rgba(171, 183, 237, 0.61) 61%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

nav {

    ul {
        display: flex;
        align-items: center;
        gap: 20px;
        list-style: none;

        li a {
            text-decoration: none;
            color: white;
            font-size: 20px;
            font-weight: bold;
        }

        li:hover {
            cursor: pointer;
            transform: scale(1.2);
        }
    }


}

.account_container {
    display: flex;
    align-items: center;

    img {
        width: 30px;

    }

}

@media only screen and (max-width: 550px) {
    header {
        flex-direction: column;
        gap: 20px;
        border-bottom: 1px solid rgb(160, 159, 159);
    }

    nav {
        width: 100%;

        ul {
            justify-content: space-between;
            width: 100%;
        }


    }
}