* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playwrite NZ Basic", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    transition: all 0.3s ease;
}

.header_section {
    padding: 0 0 0 50px;
    background: #24119E;
    background: linear-gradient(90deg, rgba(36, 17, 158, 1) 0%, rgba(171, 183, 237, 0.61) 61%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 25px;
}

.main_img_cantainer {
    min-width: 800px;
    height: 350px;

    img {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 1070px) {
    .main_img_cantainer {
        min-width: 500px;
    }
}

@media only screen and (max-width: 790px) {
    .header_section {
        flex-direction: column;
        padding: 0;
    }
    .header_text {
        padding: 10px 30px;
    }

    .main_img_cantainer {
        width: 100%;
    }
}

@media only screen and (max-width: 520px) {
.header_section {
        padding: 20px 0;
    }
    .main_img_cantainer {
        display: none;
    }
}